<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalDismiss()">
        <ion-icon
          color="dark"
          slot="icon-only"
          name="close-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="flex-container ion-padding ion-text-center">
    <ion-row>
      <ion-col>
        <img src="assets/shapes/order.svg" width="160">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>Oops! Order Failed</h5>
        <p>Something went wrong and your order could not be placed</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          class="action-button ion-margin-bottom"
          expand="block"
          fill="solid"
          color="primary"
          type="button"
        >
        <div class="button-text">
          <span>Try Again</span>
          <ion-icon name="sync-outline"></ion-icon>
        </div>
        </ion-button>
        <a class="link" [routerLink]="">Back to home</a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
