.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.action-button {
  --border-radius: 12px;
  --box-shadow: none !important;
  height: 48px;

  span {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-transform: initial;
    color: #ffffff;
  }

  .button-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 8px;

    ion-icon {
      font-size: 20px;
      color: #ffffff;
    }
  }
}

.link {
  text-decoration: none !important;
  font-weight: normal;
  font-size: 15px;
}

h5 {
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  color: #181725;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: #7c7c7c;
}
