<ion-card class="ion-no-margin">
  <ion-card-header>
    <img [src]="product?.image" />
  </ion-card-header>
  <ion-card-content>
    <ion-card-title>{{ product?.title }}</ion-card-title>
    <ion-card-subtitle class="ion-padding-bottom">{{
      product?.subtitle
    }}</ion-card-subtitle>
    <div class="price-container">
      <ion-text>
        {{ product?.price | currency }}
      </ion-text>
      <ion-button (click)="addToCart()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
